In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('abc').getOrCreate()

In [2]:
from pyspark import SQLContext
sqlcontext=SQLContext(spark)

In [3]:
df = spark.read.format("csv")\
    .option("header", "true")\
    .option("inferSchema", True)\
    .load("file:///Users\ASUS\Downloads\Bootcamp 7\Big Data Week 11 Apache Spark\hepatitis.csv")
df

DataFrame[AGE: int, SEX: string, STEROID: string, ANTIVIRALS: string, FATIGUE: string, MALAISE: string, ANOREXIA: string, LIVER_BIG: string, LIVER_FIRM: string, SPLEEN_PALPABLE: string, SPIDERS: string, ASCITES: string, VARICES: string, BILIRUBIN: string, ALK_PHOSPHATE: string, SGOT: string, ALBUMIN: string, PROTIME: string, HISTOLOGY: string, Class: string]

In [4]:
df.registerTempTable('df')

# Spark SQL Part

In [5]:
# 1. Using Spark SQL find number of males and females for each class. (in “Hepatitis” data).
# 2. Find maximum and minimum ages for females. (in “Hepatitis” data).

In [6]:
df.toPandas()

,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER_BIG,LIVER_FIRM,SPLEEN_PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK_PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY,Class
0,30,male,no,no,no,no,no,no,no,no,no,no,no,1,85,18,4,?,no,LIVE
1,50,female,no,no,yes,no,no,no,no,no,no,no,no,0.9,135,42,3.5,?,no,LIVE
2,78,female,yes,no,yes,no,no,yes,no,no,no,no,no,0.7,96,32,4,?,no,LIVE
3,31,female,?,yes,no,no,no,yes,no,no,no,no,no,0.7,46,52,4,80,no,LIVE
4,34,female,yes,no,no,no,no,yes,no,no,no,no,no,1,?,200,4,?,no,LIVE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,female,yes,no,yes,yes,yes,yes,no,no,yes,yes,yes,7.6,?,242,3.3,50,yes,DIE
151,44,female,yes,no,yes,no,no,yes,yes,no,no,no,no,0.9,126,142,4.3,?,yes,LIVE
152,61,female,no,no,yes,yes,no,no,yes,no,yes,no,no,0.8,75,20,4.1,?,yes,LIVE
153,53,male,no,no,yes,no,no,yes,no,yes,yes,no,yes,1.5,81,19,4.1,48,yes,LIVE
154,43,female,yes,no,yes,no,no,yes,no,yes,yes,yes,no,1.2,100,19,3.1,42,yes,DIE

In [7]:
sqlcontext.sql('select count(sex) as female from df where sex="female" group by class').toPandas()

   female
0      32
1     107

In [8]:
sqlcontext.sql('select count(sex) as male from df where sex="male" group by class').toPandas()

   male
0    16

In [9]:
sqlcontext.sql('select min(age) from df group by age="female"').toPandas()

   min(age)
0         7

In [10]:
sqlcontext.sql('select max(age) from df group by age="female"').toPandas()

   max(age)
0        78

# Logistic Regression in Spark

In [150]:
churn_data = spark.read.csv('churn.csv', header=True, inferSchema=True)
churn_data.toPandas()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [151]:
churn_data.printSchema()

root
 |-- RowNumber: integer (nullable = true)
 |-- CustomerId: integer (nullable = true)
 |-- Surname: string (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- Geography: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tenure: integer (nullable = true)
 |-- Balance: double (nullable = true)
 |-- NumOfProducts: integer (nullable = true)
 |-- HasCrCard: integer (nullable = true)
 |-- IsActiveMember: integer (nullable = true)
 |-- EstimatedSalary: double (nullable = true)
 |-- Exited: integer (nullable = true)

In [152]:
churn_data.columns

['RowNumber',
 'CustomerId',
 'Surname',
 'CreditScore',
 'Geography',
 'Gender',
 'Age',
 'Tenure',
 'Balance',
 'NumOfProducts',
 'HasCrCard',
 'IsActiveMember',
 'EstimatedSalary',
 'Exited']

In [153]:
churn_data.describe().toPandas()

,summary,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,count,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000
1,mean,5000.5,1.56909405694E7,None,650.5288,None,None,38.9218,5.0128,76485.88928799961,1.5302,0.7055,0.5151,100090.2398809998,0.2037
2,stddev,2886.8956799071675,71936.18612274907,None,96.65329873613035,None,None,10.487806451704587,2.8921743770496837,62397.40520238599,0.5816543579989917,0.45584046447513327,0.49979692845891815,57510.49281769821,0.40276858399486065
3,min,1,15565701,Abazu,350,France,Female,18,0,0.0,1,0,0,11.58,0
4,max,10000,15815690,Zuyeva,850,Spain,Male,92,10,250898.09,4,1,1,199992.48,1

In [154]:
columnlist = [item[0] for item in churn_data.dtypes if item[1].startswith('string')]
columnlist

['Surname', 'Geography', 'Gender']

In [155]:
categorical_data=churn_data.select('Surname','Geography','Gender','HasCRCard','IsActiveMember')
categorical_data.show()

+---------+---------+------+---------+--------------+
|  Surname|Geography|Gender|HasCRCard|IsActiveMember|
+---------+---------+------+---------+--------------+
| Hargrave|   France|Female|        1|             1|
|     Hill|    Spain|Female|        0|             1|
|     Onio|   France|Female|        1|             0|
|     Boni|   France|Female|        0|             0|
| Mitchell|    Spain|Female|        1|             1|
|      Chu|    Spain|  Male|        1|             0|
| Bartlett|   France|  Male|        1|             1|
|   Obinna|  Germany|Female|        1|             0|
|       He|   France|  Male|        0|             1|
|       H?|   France|  Male|        1|             1|
|   Bearce|   France|  Male|        0|             0|
|  Andrews|    Spain|  Male|        1|             0|
|      Kay|   France|Female|        1|             0|
|     Chin|   France|Female|        0|             0|
|    Scott|    Spain|Female|        1|             1|
|  Goforth|  Germany|  Male|        0|             1|
|    Romeo|  Germany|  Male|        1|             0|
|Henderson|    Spain|Female|        1|             1|
|  Muldrow|    Spain|  Male|        0|             0|
|      Hao|   France|Female|        1|             1|
+---------+---------+------+---------+--------------+
only showing top 20 rows

In [156]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler, StandardScaler
from pyspark.ml import Pipeline

In [157]:
churn_data=churn_data.drop('RowNumber', 'CustomerId')
churn_data.show()

+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
| Hargrave|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|
|     Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|     Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|     Boni|        699|   France|Female| 39|     1|      0.0|            2|        0|             0|       93826.63|     0|
| Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|        1|             1|        79084.1|     0|
|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|     1|
| Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|     0|
|   Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|     1|
|       He|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|     0|
|       H?|        684|   France|  Male| 27|     2|134603.88|            1|        1|             1|       71725.73|     0|
|   Bearce|        528|   France|  Male| 31|     6|102016.72|            2|        0|             0|       80181.12|     0|
|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|        1|             0|       76390.01|     0|
|      Kay|        476|   France|Female| 34|    10|      0.0|            2|        1|             0|       26260.98|     0|
|     Chin|        549|   France|Female| 25|     5|      0.0|            2|        0|             0|      190857.79|     0|
|    Scott|        635|    Spain|Female| 35|     7|      0.0|            2|        1|             1|       65951.65|     0|
|  Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|        0|             1|       64327.26|     0|
|    Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|        1|             0|        5097.67|     1|
|Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|        1|             1|       14406.41|     0|
|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|        0|             0|      158684.81|     0|
|      Hao|        726|   France|Female| 24|     6|      0.0|            2|        1|             1|       54724.03|     0|
+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

In [158]:
categoricalColumns = ['Surname','Geography','Gender','HasCrCard','IsActiveMember']
stages=[]
for categoricalCol in categoricalColumns:
    stringIndexer = StringIndexer (inputCol = categoricalCol, outputCol=categoricalCol +'Index')
    encoder=OneHotEncoder(inputCols=[stringIndexer.getOutputCol()], outputCols=[categoricalCol + 'classVec'])
    stages += [stringIndexer, encoder]
    
label_stringIdx = StringIndexer (inputCol = 'Exited', outputCol ='label')
stages=stages+[label_stringIdx]

numericCols=['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'EstimatedSalary']
assemblerInputs = [c+'classVec' for c in categoricalColumns]+numericCols
assembler=VectorAssembler (inputCols=assemblerInputs, outputCol='vectorized_features')
stages+=[assembler]
scaler=StandardScaler(inputCol='vectorized_features',outputCol='features')
stages=stages+[scaler]

In [159]:
pipeline = Pipeline(stages=stages)

In [160]:
pipeline_model = pipeline.fit(churn_data)

In [161]:
from pyspark.ml import Pipeline
cols = churn_data.columns
pipeline = Pipeline (stages=stages)
pipelineModel=pipeline.fit (churn_data)
churn_data=pipelineModel.transform(churn_data)
selectedCols = ['label','features']+cols
churn_data=churn_data.select(selectedCols)
churn_data.show()

+-----+--------------------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|label|            features|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+-----+--------------------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|  1.0|(2942,[1958,2931,...| Hargrave|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|
|  0.0|(2942,[79,2935,29...|     Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|  1.0|(2942,[336,2931,2...|     Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|  0.0|(2942,[128,2931,2...|     Boni|        699|   France|Female| 39|     1|      0.0|            2|        0|             0|       93826.63|     0|
|  0.0|(2942,[32,2934,29...| Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|        1|             1|        79084.1|     0|
|  1.0|(2942,[14,2933,29...|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|     1|
|  0.0|(2942,[631,2931,2...| Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|     0|
|  1.0|(2942,[1269,2932,...|   Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|     1|
|  0.0|(2942,[57,2931,29...|       He|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|     0|
|  0.0|(2942,[44,2931,29...|       H?|        684|   France|  Male| 27|     2|134603.88|            1|        1|             1|       71725.73|     0|
|  0.0|(2942,[1468,2931,...|   Bearce|        528|   France|  Male| 31|     6|102016.72|            2|        0|             0|       80181.12|     0|
|  0.0|(2942,[417,2933,2...|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|        1|             0|       76390.01|     0|
|  0.0|(2942,[556,2931,2...|      Kay|        476|   France|Female| 34|    10|      0.0|            2|        1|             0|       26260.98|     0|
|  0.0|(2942,[92,2931,29...|     Chin|        549|   France|Female| 25|     5|      0.0|            2|        0|             0|      190857.79|     0|
|  0.0|(2942,[2,2934,293...|    Scott|        635|    Spain|Female| 35|     7|      0.0|            2|        1|             1|       65951.65|     0|
|  0.0|(2942,[1909,2932,...|  Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|        0|             1|       64327.26|     0|
|  1.0|(2942,[2591,2932,...|    Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|        1|             0|        5097.67|     1|
|  0.0|(2942,[97,2934,29...|Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|        1|             1|       14406.41|     0|
|  0.0|(2942,[2381,2933,...|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|        0|             0|      158684.81|     0|
|  0.0|(2942,[197,2931,2...|      Hao|        726|   France|Female| 24|     6|      0.0|            2|        1|             1|       54724.03|     0|
+-----+--------------------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

In [217]:
training, test = churn_data.randomSplit([0.7, 0.3], seed=1234)

In [218]:
from pyspark.ml.classification import LogisticRegression
logr = LogisticRegression(featuresCol='features', labelCol='label')

In [226]:
logrModel = logr.fit(training)
predictions=logrModel.transform(training)
predictions.select('features', 'label', 'prediction', 'rawPrediction', 'probability').toPandas().head(5)

,features,label,prediction,rawPrediction,probability
0,"(17.70513654146293, 0.0, 0.0, 0.0, 0.0, 0.0, 0...",0.0,0.0,"[3.2181464999074905, -3.2181464999074905]","[0.9615114803805395, 0.03848851961946054]"
1,"(17.70513654146293, 0.0, 0.0, 0.0, 0.0, 0.0, 0...",0.0,0.0,"[1.455985997783063, -1.455985997783063]","[0.8109179757620618, 0.18908202423793818]"
2,"(17.70513654146293, 0.0, 0.0, 0.0, 0.0, 0.0, 0...",0.0,0.0,"[2.682360264223549, -2.682360264223549]","[0.9359777043735436, 0.06402229562645645]"
3,"(17.70513654146293, 0.0, 0.0, 0.0, 0.0, 0.0, 0...",0.0,0.0,"[2.828661675263174, -2.828661675263174]","[0.9442051386225288, 0.05579486137747125]"
4,"(17.70513654146293, 0.0, 0.0, 0.0, 0.0, 0.0, 0...",0.0,0.0,"[2.9598018060278797, -2.9598018060278797]","[0.9507247099055909, 0.04927529009440912]"

In [227]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator
evaluator = BinaryClassificationEvaluator()
print('AUC', evaluator.evaluate(predictions))

AUC 0.9229703195640012

In [228]:
accuracy=predictions.filter(predictions.label == predictions.prediction).count()/float(predictions.count())
print('Training Part Accuracy:',accuracy)

Training Part Accuracy: 0.8859985785358919

# Overfitting Check-Out

In [229]:
logrModel = logr.fit(training)
predictions=logrModel.transform(test)
predictions.select('features', 'label', 'prediction', 'rawPrediction', 'probability').toPandas().head(5)

,features,label,prediction,rawPrediction,probability
0,"(17.70513654146293, 0.0, 0.0, 0.0, 0.0, 0.0, 0...",0.0,0.0,"[3.785205493723179, -3.785205493723179]","[0.9777998400709995, 0.022200159929000485]"
1,"(17.70513654146293, 0.0, 0.0, 0.0, 0.0, 0.0, 0...",0.0,0.0,"[3.298342581438317, -3.298342581438317]","[0.9643719077372469, 0.0356280922627531]"
2,"(17.70513654146293, 0.0, 0.0, 0.0, 0.0, 0.0, 0...",0.0,0.0,"[2.1943007813362922, -2.1943007813362922]","[0.8997365504385736, 0.10026344956142641]"
3,"(17.70513654146293, 0.0, 0.0, 0.0, 0.0, 0.0, 0...",0.0,0.0,"[1.6691940855153216, -1.6691940855153216]","[0.8414683422529123, 0.15853165774708766]"
4,"(0.0, 18.595588498132894, 0.0, 0.0, 0.0, 0.0, ...",0.0,0.0,"[2.1865368335280255, -2.1865368335280255]","[0.8990339824334495, 0.10096601756655055]"

In [230]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator
evaluator = BinaryClassificationEvaluator()
print('AUC', evaluator.evaluate(predictions))

AUC 0.5888399653884485

In [231]:
accuracy=predictions.filter(predictions.label == predictions.prediction).count()/float(predictions.count())
print('Test Part Accuracy:',accuracy)

Test Part Accuracy: 0.7598650927487353

In [232]:
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator

In [233]:
param_grid = (ParamGridBuilder()
    .addGrid(logr.regParam, [0, 0.5, 1, 2])
    .addGrid(logr.elasticNetParam, [0, 0.5, 1])
    .addGrid(logr.maxIter, [1,5,10])
    .build())
cv = CrossValidator(estimator=logr, estimatorParamMaps=param_grid, evaluator=evaluator, numFolds=5)
cvModel=cv.fit(training)

In [235]:
predictions=cvModel.transform(test)
print('AUC:', evaluator.evaluate(predictions))

AUC: 0.6719788825726452

In [236]:
from pyspark import SQLContext
sqlContext = SQLContext(spark)

# Best Model Feature Weights

In [237]:
weights = cvModel.bestModel.coefficients
weights = [(float(w),) for w in weights]
weightsDF = sqlContext.createDataFrame(weights,['Feature Weight'])
weightsDF.toPandas().head(10)

   Feature Weight
0        0.001477
1        0.024885
2       -0.008070
3        0.001786
4       -0.000152
5       -0.013228
6        0.020052
7       -0.002329
8        0.008403
9        0.031387

# Best Model Parameters

In [238]:
best_model=cvModel.bestModel

In [239]:
print('Best_regParam:',best_model._java_obj.getRegParam())
print('Best_MaxIter',best_model._java_obj.getMaxIter())
print('Best_elasticNetParam',best_model._java_obj.getElasticNetParam())

Best_regParam: 0.0
Best_MaxIter 1
Best_elasticNetParam 0.0